@page "/Windows/UserCreature"
@inject IJSRuntime JSRuntime

<h1>Blazor Download File</h1>

<textarea @bind="noteContent" />
<br />
<button @onclick="DownloadFile">Download</button>

@code {
    string noteContent;
    string fileName = "test.ps1";

    public async void DownloadFile()
    {
        await JSRuntime.InvokeAsync<object>(
            "FileSaveAs",
            fileName,
            noteContent
        );
    }
}